beautifulsoup4~=4.9.3
colorgram.py
heroes~=1.0.2
lxml~=4.6.3
pandas~=1.2.4
prettytable~=2.1.0
pyperclip~=1.8.2
requests~=2.25.1
selenium~=3.141.0
spotipy~=2.18.0
twilio
future~=0.18.2
Flask~=2.0.1
flask-wtf
WTForms~=2.3.3
Werkzeug~=2.0.1

SQLAlchemy~=1.4.19
jupyter~=1.0.0

