.top-container {
    background-color: red;
    height: 100px;
    width: 100px;
    position: relative;
    right: 200px;
}

.middle-container {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
}

.bottom-container {
    background-color: yellow;
    height: 100px;
    width: 100px;
}
