div {
    border: 1px solid;
    height: 100px;
    width: 100px;
    position: absolute;
}

.red {
    background-color: red;
    z-index: 1;
}

.yellow {
    background-color: yellow;
    left: 20px;
    top: 20px;
}

.blue {
    background-color: blue;
    left: 40px;
    top: 40px;
    z-index: -1;
}
