.top-container {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left:200px;
    top:200px;

}

.middle-container {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    left:100px;
    top:100px;
}

.bottom-container {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    left:0;
    top:0;
}
