{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<h1 class="form-title">Login</h1>
<div class="row">
    <div class="col-lg-6">
    <div class="flash-msg">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        {{ wtf.quick_form(form, novalidate=True) }}

    </div>
    <div class="col-lg-6">
        <img src="{{ url_for('static', filename='images/todo-list.png') }}" alt="">
    </div>
</div>
</div>
{% include "footer.html" %}
